*{
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

img{
    width: 100%;
    height: 100%;
}

#everything{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#body{
    
}

#header{
    
    text-align: center;
    height: 100px;
    width: 100px;
}

#footer{
    text-align: center;
    padding: 30px;
    font-size: .75rem;
}

#title{
    font-size: 1.875rem;
    text-align: center;
}

#description{
    font-size: 1rem;
}

/*-----------------------------------------------------------------rows---------------------------------------------------------------------------------------*/
#rowtop{
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.row{
    
}

/*----------------------------------------------------------------columns----------------------------------------------------------------------------------------*/

.analog{
    background-color: white;
}

.digital{
    background-color: grey;
}

.column{
    width: 320px;
    height: 320px;
    float: left;
    padding: 5px;
}

#videos{
    font-size: 1.875rem;
    text-align: center;
}

#videos li{
    font-family: 'Vollkorn', serif;
    text-align: left;
}

#pictures{
    font-size: 1.875rem;
    text-align: center;

}

.cinzel{
    font-family: 'Cinzel Decorative', cursive, sans-serif;
}

.vollkorn{
    font-family: 'Vollkorn', serif;
}

.current{   
    font-style: normal;
}

/*---------------------------------------------------------------clearfix------------------------------------------------------------------------------*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}