*{
    background-color: #000;
    color: #fff;
}

#body{
    font-size: 16pt;
}

#header{
    background-color: #0a1ace;
    text-align: center;

}

#header li{
    list-style: none;
    display: inline-block;
    font-size: 1.5625rem;
    font-weight: 2.5rem;
    padding: 0px 30px;
}

#footer{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 0 0 0 -150px;
    padding: 30px;
    font-size: .75rem;
}

#title{
    font-size: 1.875rem;
    text-align: center;
}

#description{
    font-size: 1rem;
}

#row{

}

#left{
    width: 300;
    height: 500;
    position: absolute;
    left: 100px;
    top: 50%;
    margin: -100px 0 0 0;
    border: 3px solid #fff;
}

#middle{
    width: 300;
    height: 500;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -150px;
    border: 3px solid #fff;
}

#right{
    width: 300;
    height: 500;
    position: absolute;
    right: 100px;
    top: 50%;
    margin: -100px 0 0 0;
    border: 3px solid #fff;
}

#videos{
    font-size: 1.875rem;
    text-align: center;
}

#videos li{
    font-family: 'Vollkorn', serif;
    text-align: left;
}

#pictures{
    font-size: 1.875rem;
    text-align: center;

}

.cinzel{
    font-family: 'Cinzel Decorative', cursive, sans-serif;
}

.vollkorn{
    font-family: 'Vollkorn', serif;
}

.current{   
    font-style: normal;
}